.card {
  width: 100%;
  // min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    max-width: 920px;
    min-height: 480px;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 2rem;
    display: flex;
    gap: 50px;
    padding: 30px 32px;
    box-sizing: border-box;
  }

  &__select {
    padding-top: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 45px;

    &__bill {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &__input {
        display: flex;
        flex-direction: column;
      }
    }

    &__tip-percentage {
      display: flex;
      gap: 15px;
      flex-direction: column;
    }
  }

  &__calc-result {
    width: 80%;
    background-color: #00474b;
    border-radius: 20px;
    padding: 60px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__divisions {
      display: flex;
      flex-direction: column;
      gap: 45px;

      &__division-item {
        display: flex;
        justify-content: space-between;

        &__texts {
          display: flex;
          flex-direction: column;
          gap: 4px;

          &__title {
            color: white;
          }

          &__subtitle {
            color: #609598;
          }
        }

        &__total {
          color: #25c1a9;
          font-size: 2.5rem;
          display: flex;
          align-items: center;
        }
      }
    }

    &__resetbtn {
      button {
        width: 100%;
        padding: 15px;
        background-color: #0c676d;
        border: 1px solid transparent;
        border-radius: 10px;
        font-size: 17px;
        letter-spacing: 1px;
        transition: 0.3s ease;
      }

      .blocked {
        color: #045b62;
      }

      .reset {
        background-color: #009688;
        color: #094745;
        cursor: pointer;

        &:hover {
          background-color: #9ee8df;
        }
      }
    }
  }
}

@import "MainCardMobile";
